body {
    background-color: rgb(192, 208, 226);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: table-cell;
    vertical-align: middle;
}

.card {
    border-radius: 3%;
    border: 1px solid white;
    /* display: flex;
    flex-direction: column; */
    display: flex;
    margin-top: auto;
}

img {
    border: 4px solid transparent;
    border-radius: 10%;
}

h1 {
    font-size: 0.95rem;
    font-weight: 600;
}

p {
    font-size: 0.7rem;
}